.page__header {
  box-sizing: border-box;
  padding: 9px 20px 6px;
  max-width: 320px;
}

@media all and (min-width: 480px) {
  .page__header {
    max-width: 480px;
  }
}
@media all and (min-width: 768px) {
  .page__header {
    max-width: 768px;
  }
}
