@import url(./__button/main__button.css);
@import url(./__questions/main__questions.css);

.main__container {
}

@media all and (min-width: 480px) {
  .main__container {
    max-width: 370px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

@media all and (min-width: 1024px) {
  .main__container {
    max-width: 340px;
  }
}
