@import url(./__text/about__text.css);
@import url(../__container-mini/about__container-mini.css);

.about__container {
  max-width: 283px;
}

@media all and (min-width: 480px) {
  .about__container {
    max-width: 442px;
  }
}
@media all and (min-width: 768px) {
  .about__container {
    max-width: 720px;
  }
}
@media all and (min-width: 1024px) {
  .about__container {
    max-width: 452px;
  }
}

@media all and (min-width: 1440px) {
  .about__container {
    max-width: 546px;
  }
}

@media all and (min-width: 1920px) {
  .about__container {
    max-width: 615px;
  }
}
