@import url(./__list/header__list.css);
@import url(./__list-close/header__list-close.css);
@import url(./_is-active/header__menu-mobile_is-active.css);

.header__menu-mobile {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  background-color: #ffffff;
}

@media all and (min-width: 1440px) {
  .header__menu-mobile {
    display: flex;
    position: relative;
  }
}
